@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

:root {
    --main-font: 'Roboto', sans-serif;
    --primary: #5cb9b9;
    --secondary: #2f3745;
    --secondary-dark: #1d232b;
    --subtle-600: #ededf0;
    --subtle-700: #f0f6ff;
    --subtle-800: #aaafb7;
    --border-radius: .5rem;
    --box-shadow: 0 0px 10px rgba(0,0,0,.1);
    --alert: #ea1026;
    --transition-time: .3s;
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    height: 100%;
    box-sizing: border-box;
    background: var(--subtle-600);
}

button {
    cursor: pointer;
}