.heading-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
  }
  .title {
    font-family: "Manrope", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 32.78px;
    letter-spacing: 0%;
    padding-bottom: 20px;
  }
  .edit-scorecard-btn {
    background-color: #767CFF;
    width: 140px;
    height: 30px;
    gap: 10px;
    border-radius: 4px;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
    border-width: 1px;
    border: none;
    color: #fff;
    font-family: Inter;
    font-weight: 500;
    font-size: 16px;
    line-height: 19.36px;
    letter-spacing: 0%;
    text-align: center;
  }
  .scorecard-details-container {
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 0 20px;
  }

  .scorecard-description{
        color:#404D61;
        font-weight: 400;
        font-size: 18px;
        line-height: 100%;
        letter-spacing: 0%;
        vertical-align: middle;
  }
  .h2{
    margin: 0;
    font-weight: 700;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;
    color:#404D61;
  }
  .add-criteria-btn{
    background-color:#767CFF;
    width: 140;
    height: 30;
    gap: 10px;
    border-radius: 4px;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
    border-width: 1px;
    border: none;
    color: #fff;
    font-family: Inter;
    font-weight: 500;
    font-size: 16px;
    line-height: 19.36px;
    letter-spacing: 0%;
    text-align: center;
  }