<h2 mat-dialog-title class="dialog-header">Create New Session
    <svg width="310" height="1" viewBox="0 0 310 1" fill="none" xmlns="http://www.w3.org/2000/svg">
        <line y1="0.5" x2="310" y2="0.5" stroke="#CED4DA"/>
    </svg>
</h2>

<mat-dialog-content class="dialog-content">
    <form [formGroup]="sessionForm" (ngSubmit)="onSubmit()" class="form-main">
        <div class="form-group">
            <label for="name">Session Name</label>
            <input type="text" id="name" placeholder="Enter Session Name" formControlName="name" class="input-field">
        </div>

        <div class="form-group">
            <label for="startDate">Session Start Time</label>
            <input type="time" id="startDate" placeholder="Enter Start Date" formControlName="startDate" class="input-field">
        </div>

        <div class="form-group">
            <label for="endDate">Session End Time</label>
            <input type="time" id="endDate" placeholder="Enter End Date" formControlName="endDate" class="input-field">
        </div>

        <div class="form-group">
            <label for="abstractSubmissionStartDate">Abstract Submission Start Date</label>
            <input type="date" id="abstractSubmissionStartDate" placeholder="Enter Abstract Submission Start Date" formControlName="abstractSubmissionStartDate" class="input-field">
        </div>

        <div class="form-group">
            <label for="abstractSubmissionEndDate">Abstract Submission End Date</label>
            <input type="date" id="abstractSubmissionEndDate" placeholder="Enter Abstract Submission End Date" formControlName="abstractSubmissionEndDate" class="input-field">
        </div>

        <div class="form-group">
            <label for="title">Session Topic</label>
            <input type="text" id="title" placeholder="Enter Session Topic" formControlName="title" class="input-field">
        </div>

        <div class="dialog-actions">
            <button mat-button mat-dialog-close>Cancel</button>
            <button mat-button type="submit">Submit</button>
        </div>
    </form>
</mat-dialog-content>
